<!--Bootstrap utilities-->
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Login/Registration</title>
        
        <link rel="stylesheet" href="">
        <!-- load Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
    <body>
        <!--Display-->

        <!--Hiding elements-->
        <!--.d-none = hidden on all
            .d-none .d-sm-block = visible only on sm and up .d-md-none = only visible on sm 
        -->

        <!--Display in print-->
        <!--.d-print-none = hide on print but show on screen
            .d-none .d-print-block = show on print but hide on screen
        -->

        <!--Embed-->
        <!--create responsive video/slideshow embeds-->
        <!--can change aspect ratios within _variables.scss-->
        <div class="embed-responsive embed-responsive-(21by9/16by9/4by3/1by1)">
            <iframe class="embed-responsive-item" src="https://..." allowfullscreen></iframe>
        </div>

        <!--Flex-->
        <!--.d-flex-(breakpoint) = width of element changes to match that of viewport
            .d-inline-flex = width of element matches that of its content
            .flex-row-(reverse) = sets horizontal direction by browser default or its opposite
            the child elements of parent with flex-row have the inline-flex property while the parent element has the flex property
            .flex-column-(reverse) = sets vertical direction of child elements 
            .d-flex justify-content-(breakpoint)-(start/end/center/between/around) = horizontally aligns position of child elements accordingly
            .d-flex align-items-(breakpoint)-(start/end/center/baseline/stretch) = vertically aligns position
            .align-self-(start/end/center/baseline/stretch) = individually changes alignment
            .flex-fill = used on child element of flex container to force into widths equal to content while taking all available horizontal space of parent container
            .flex-(breakpoint)-(grow/shrink)-1 = child element grows/shrinks to its fullest while allowing sibling flex elements their necessary space
            .m(l/r/b/t)-auto = pushes other inline elements to the left/right/bottom/top automatically
            .d-flex flex-(breakpoint)-(nowrap/wrap)-(reverse) = child elements do/not wrap according to available width of parent container  
            .order-(num) = changes order of element respectively
            .d-flex align-content-(start/end/center/between/around/stretch) = vertically aligns contents of parent container
        -->

        <!--Float-->
        <!--.float-(breakpoint)-(left/right/none) = floats an element regardless of viewport size-->

        <!--Overflow-->
        <!--.overflow-(auto/hidden) = makes overflowing content un/scrollable-->

        <!--Position-->
        <!--Unresponsive positioning classes-->
        <!--.position-(static/relative/absolute/fixed/sticky)-->

        <!--.fixed-(top/bottom)
            .sticky-top = positions an element at top of viewport after it is scrolled past
        -->

        <!--Screen Readers-->
        <!--.sr-only = hides element on all devices except screen readers
            .sr-only .sr-only-focusable = shows hidden element when focused (e.g. keyboard-only user)
        -->

        <!--Shadows-->
        <!--.shadow-(none/sm/lg/default)-->

        <!--Sizing-->
        <!--.(w/h)-(25/50/75/100/auto)
            .m(w/h)-(100)
            .(min)-v(w/h)-(100) = relative to viewport
        -->

        <!--Spacing-->
        <!--class naming format: {property}{sides}-{breakpoint}-{size}
            .(m/p)-(t/b/l/r/x(both left and right)/y(both top and bottom)/blank)-(breakpoint)-(0-5/auto)
            
            .mx-auto = horizontally centers fixed-width block level content 
            .m(x/y)-(breakpoint)-(n(num)) = can only add negative values to margins
        -->

        <!--Stretched Link-->
        <!--makes link-containing block clickable-->
        <a href="" class="btn stretched-link">...</a>
        <!--must add .position-relative to objects that don't by default (ex. media, row)-->
        <div class="row position-relative">
            ...
            <div class="col position-static">
                ...
            </div>
        </div>

        <!--Text-->
        <!--.text-(breakpoint)-(left/center/right)
            .text-(no/wrap) = text inside container wraps to prevent overflow
            .text-truncate = truncates text after content reaches certain limit
            .text-break = prevents long strings of text from breaking component's layout
            .text-(lowercase/uppercase/capitalize)
            .font-(weight/italic)-(bold/bolder/normal/light/lighter)
            .text-monospace
            .text-reset = resets text or link's color to make it inherit from parent
            .text-decoration-none = removes text decoration (ex. underline from link)
        -->

        <!--Vertical Alignment-->
        <!--.align-((text)-(top/bottom))-(baseline/top/middle/bottom)-->

        <!--Visibility-->
        <!--.visible/invisible-->






    </body>