<h1>Products</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}

<nav>
    <h2><a href="/estore/about">About</a></h2>
    <h2><a href="/estore/cart">Cart</a></h2>
    <h2><a href="/logout">Logout</a></h3></h2>
</nav>

{% for product in products %}
    <h3>{{product.name}}</h3>
    <h3>Description: {{product.description}}</h3>
    <h3>Price: {{product.price}}</h3>
    <h3>Quantity: {{product.quantity}}</h3>
    <button><a href= "products/add/{{product.id}}">Add</a></button>
    <button><a href="products/remove/{{product.id}}">Remove</a></button>
{% endfor %}